{% extends 'base.html.twig' %}

{% block title %} News {% endblock %}
{% block body %}

    <body>
    <!-- Navbar -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1799099966977245";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Navbar on small screens -->


    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center">My Profile</h4>
                        <p class="w3-center"><img src="{{ asset('images/products/'~ profile.imageName) }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                        <hr>
                        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{ profile.firstName }}_{{ profile.lastName }} </p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> </p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>Member Sincen: {{ profile.dateInscrit | date('M') }} {{ profile.dateInscrit | date('Y') }} </p>
                    </div>
                </div>
                <br>

                <!-- Accordion -->
                <div class="w3-card w3-round">
                    <div class="w3-white">
                        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
                        <div id="Demo1" class="w3-hide w3-container">
                            <p>Some text..</p>
                        </div>
                        <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
                        <div id="Demo2" class="w3-hide w3-container">
                            <p>Some other text..</p>
                        </div>
                        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
                        <div id="Demo3" class="w3-hide w3-container">
                            <div class="w3-row-padding">
                                <br>
                                <div class="w3-half">
                                    <img src="{{ asset('images/lights.jpg') }}" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="{{ asset('images/nature.jpg') }}" style="width:100%" class="w3-margin-bottom">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Interests -->
                <div class="w3-card w3-round w3-white w3-hide-small">
                    <div class="w3-container">
                        <p>Interests</p>

                    </div>
                </div>
                <br>

                <!-- Alert Box -->
                <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
                    <p><strong>Hey!</strong></p>
                    <p>HELLO</p>
                </div>

                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m7">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">

                                <button type="button" class="w3-button w3-theme" href=""><i class="fa fa-pencil"></i> <a href="{{ path('addPublication') }}">POST</a></button>



                            </div>
                        </div>
                    </div>
                </div>
                {% for publication in pagination %}


                    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <img src="{{ asset('images/products/'~ publication.idUser.imageName) }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                    {% if  publication.idUser.id   ==  profile.id  %}

                     <span class="w3-right w3-opacity">
                         <button type="button" class="w3-button w3-theme" ><i class="fa fa-pencil"></i>  <a href="{{ path('deletepub',{'id': publication.idPub}) }}">Supprimer</a></button>
                         <button type="button" class="w3-button w3-theme" ><i class="fa fa-pencil"></i>  <a href="{{ path('editPub',{'idp': publication.idPub}) }}">Modifier</a></button>

                     </span>
                   {% endif %}


          <h4>{{ publication.idUser.firstName }}_{{ publication.idUser.lastName }}</h4><br>
                    <hr class="w3-clear">
                    <p>{{ publication.text }}</p>
                    <p>{{ publication.adresse }}</p>
                        <p>{{ publication.signalercount }}</p>
                    <div class="w3-row-padding" style="margin:0 -16px">
                        <div class="w3-half">
                            <figure class="hotel-img">



                                <img class="img-fluid" alt="Responsive image" style="height: 200px;" src="{{ asset('images/products/'~ publication.imageName) }}">

                            </figure>

                        </div>

                        <button type="button" class="w3-button w3-theme" ><i class="fa fa-pencil"></i>  <a href="{{ path('AddComm',{'idp': publication.idPub}) }}">Commenter</a></button>

                        <h4>COMMENT LIST</h4>
                        {% for comm in commentaire %}
                                {% if comm.idpub.idPub == publication.idPub %}

                                    <p>                       <img src="{{ asset('images/products/'~ comm.iduser.imageName) }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                        {{ comm.iduser.firstName }}_{{ comm.iduser.lastName }}</p>
                            <p>{{ comm.commentaire }}
                                {% if  comm.iduser.id   ==  profile.id  %}

                                <a href="{{ path('deleteComm',{'id': comm.id}) }}">Delete</a>
                                {% endif %}
                            </p>

                            {%  endif %}

                        {% endfor %}
                    </div>


                    <section class="element-sc">

                        {{ socialButtons() }}

                    <div class="fb-comments" width="700"
                         data-href=""
                         data-numposts="5"></div>
                    </section>
                </div>

                {% endfor %}









                <!-- End Middle Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-col m2">
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Evenement a venir:</p>

                        <p><strong>Rendez-vous</strong></p>
                        <p>Mondey 12:00</p>
                        <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
                    </div>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Friend Request</p>
                        <img src="{{ asset('images/avatar6.png') }}" alt="Avatar" style="width:50%"><br>
                        <span>Ali AchAch</span>
                        <div class="w3-row w3-opacity">
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
                            </div>
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-padding-16 w3-center">

                </div>


                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    </body>

{% endblock %}






